<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mea">

  <!-- Empty link to referr everything to -->
  <link name="world" />
  <!-- Include arm and hand xacro files-->
  <xacro:include filename="$(find gantry_test)/description/mea.xacro" />

  <!-- call the arm macro-->
  <xacro:mea />

  <xacro:include filename="$(find gantry_test)/description/mea.gazebo.xacro" />
</robot>
